p{
    color: rgb(57, 240, 240);
    font-style: italic;
    font-family: 'Gill Sans';
    font-size: larger;
}
h1{color: aqua;
    font-style: italic;
    font-family: 'Gill Sans';
    font-size: larger;
}
body{
    background-color: yellow;
}